{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% if title %}
            {{ title }}
        {% else %}
             ESP Water Pump Control Server
        {% endif %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "monitor/css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "monitor/js/jquery.min.js" %}"></script>
    <script src="{% static "monitor/js/csrf.js"%}"></script>
      <script src="{% static "monitor/js/token.js"%}"></script>

    {% block head %}


    {% endblock %}

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

  <body>

    <!-- Navigation -->
    {% include "monitor/navigation.html" %}

    <!-- Page Content -->
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "monitor/js/jquery.min.js" %}"></script>
    <script src="{% static "monitor/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "monitor/js/ajax_delete_reload.js" %}"></script>
    <script src="{% static "monitor/js/csrf.js" %}"></script>
    {%if request.user.is_authenticated %}
    <script>
        get_token("{% url 'api:token' %}");
    </script>
    {% endif %}
  </body>

</html>
