{% extends "monitor/base.html" %}


{% block content %}
    <br/><br/>
    <div class="col-lg-12 text-center">
                <h1>{{ title }}</h1>

                <form role="form" method="post" action='{% url "monitor:login" %}' name="LoginForm">
                    {% csrf_token %}
                    {{ form }}
                    <br/>
                    <button type="submit" class="btn btn-primary" style="width: 100%;"> Login </button>
                </form>


            {% if failure %}
                <br/>
                <div class="row">
                    <div class="alert alert-danger" role="alert">Incorrect Username or Password!</div>
                </div>
            {% endif %}
    </div>
{% endblock %}